<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>悦管家消息系统</title>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <link rel="stylesheet" th:href="@{/css/font.css}"/>
    <link rel="stylesheet" th:href="@{/css/weadmin.css}"/>

    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="weadmin-nav">
			<span class="layui-breadcrumb" style="visibility:visible">
				<a href="javascript:;">系统管理/</a>
				<a href="javascript:;"> <cite>推送设置</cite></a>
			</span>
    <a class="layui-btn layui-btn-sm" style="margin-top:3px;float:right"
       href="javascript:location.replace(location.href);"
       title="刷新">
        <i class="layui-icon layui-icon-refresh"></i>
    </a>
</div>

<div class="weadmin-body">
    <div class="layui-row">
        <form id="searchForm" method="post" action="" class="layui-form layui-col-md12 we-search">
            推送搜索：
            <div class="layui-inline">
                <input class="layui-input" placeholder="推送名称" name="name" id="name"/>
            </div>
            <div class="layui-inline">
                <input class="layui-input" type="text" placeholder="推送类型" id="operateType" name="operateType"
                       autocomplete="off"/>
            </div>
            <button type="reset" class="layui-btn">
                <i class="layui-icon layui-icon-refresh-1">重置</i>
            </button>
            <button class="layui-btn" lay-submit="" lay-filter="searchSubmit">
                <i class="layui-icon layui-icon-search">查询</i>
            </button>
        </form>
    </div>
    <div class="weadmin-block">
        <button class="layui-btn" onclick="addRecord(null,'添加规则')">
            <i class="layui-icon layui-icon-add-circle-fine"></i>添加规则
        </button>
    </div>
    <!--table数据-->
    <table class="layui-table" id="pushList" lay-filter="editTable"></table>
</div>

<!--添加或编辑用户-->
<div id="addRecord" class="layer_self_wrap" style="width:500px;display:none;">
    <form id="addForm" class="layui-form layui-form-pane" method="post" action="" style="margin-top: 20px;">
        <input id="id" type="hidden" name="id"/>
        <div class="layui-form-item" style="margin-left:120px;">
            <label class="layui-form-label">操作名称</label>
            <div class="layui-input-inline">
                <input id="username" name="name" lay-verify="required" autocomplete="off" class="layui-input" type="text"/>
            </div>
        </div>
        <div class="layui-form-item" style="margin-left:120px;">
            <label class="layui-form-label">操作类型</label>
            <div class="layui-input-inline">
                <select id="addOperateType" name="operateType">
                    <option value=""></option>
                    <option value="101">系统下单成功</option>
                    <option value="102">派单成功</option>
                    <option value="103">出发</option>
                    <option value="104">订单完成</option>
                    <option value="105">代客下单成功</option>
                    <option value="106">服务组出发</option>
                    <option value="107">派单成功，发送短信给用户</option>
                    <option value="108">周期订余量不足提醒</option>
                    <option value="109">切换服务者</option>
                    <option value="110">周期订单子订单取消通知客户</option>
                    <option value="111">取消订单通知客户</option>
                    <option value="112">取消订单通知客服</option>
                    <option value="113">取消订单通知悦姐</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item" style="margin-left:120px;">
            <label class="layui-form-label">推送类型</label>
            <div class="layui-input-inline">
                <select id="optionValue" name="optionValue" >
                    <option value=""></option>
                    <option value="1">短信推送</option>
                    <option value="2">微信公众推送</option>
                    <option value="3">app推送</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item" style="margin-left:120px;">
            <label class="layui-form-label">状态</label>
            <div class="layui-input-block">
                <input type="radio" name="enable" value="true" title="启用" checked>
                <input type="radio" name="enable" value="false" title="停用">
            </div>
        </div>
        <div class="layui-form-item" style="margin-left:180px;">
            <div class="layui-input-block" style="margin-left: 10px;">
                <button type="reset" class="layui-btn layui-btn-normal">重置</button>
                <button class="layui-btn" lay-submit="" lay-filter="addSubmit">提交</button>
            </div>
        </div>
    </form>
</div>


<script th:inline="javascript">
    var contextPath = [[@{/}]];
</script>
<script type="text/javascript" th:src="@{/layui/layui.js}" charset="utf-8"></script>
<script type="text/javascript" th:src="@{/js/push-list.js}" charset="utf-8"></script>
<script type="text/javascript" th:src="@{/jquery/jquery-3.4.1.min.js}" charset="utf-8"></script>
<script type="text/html" id="optBar">
    <a class="layui-btn layui-btn-xs" lay-event="edit">
        <i class="layui-icon layui-icon-edit"></i>编辑
    </a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">
        <i class="layui-icon layui-icon-delete"></i>删除
    </a>
</script>
</body>
</html>
